[submodule "Abstractions/abscommon"]
	path = Abstractions/abscommon
	url = git://github.com/abstractiondev/abscommon
[submodule "Abstractions/absconfig"]
	path = Abstractions/absconfig
	url = git://github.com/abstractiondev/absconfig
[submodule "Abstractions/absbuilder"]
	path = Abstractions/absbuilder
	url = git://github.com/abstractiondev/absbuilder
[submodule "Abstractions/UserInterfaceABS"]
	path = Abstractions/UserInterfaceABS
	url = git://github.com/abstractiondev/UserInterfaceABS
[submodule "Abstractions/ServiceLayerABS"]
	path = Abstractions/ServiceLayerABS
	url = git://github.com/abstractiondev/ServiceLayerABS
[submodule "Abstractions/ClassModelABS"]
	path = Abstractions/ClassModelABS
	url = git://github.com/abstractiondev/ClassModelABS
[submodule "Abstractions/UserInterfaceToClassModelTRANS"]
	path = Abstractions/UserInterfaceToClassModelTRANS
	url = git://github.com/abstractiondev/UserInterfaceToClassModelTRANS
[submodule "Abstractions/UserInterfaceToOperationTRANS"]
	path = Abstractions/UserInterfaceToOperationTRANS
	url = git://github.com/abstractiondev/UserInterfaceToOperationTRANS
[submodule "Abstractions/OperationABS"]
	path = Abstractions/OperationABS
	url = git://github.com/abstractiondev/OperationABS
[submodule "Abstractions/ObjectRelationalABS"]
	path = Abstractions/ObjectRelationalABS
	url = git://github.com/abstractiondev/ObjectRelationalABS
[submodule "Abstractions/TheBallCoreABS"]
	path = Abstractions/TheBallCoreABS
	url = git://github.com/abstractiondev/TheBallCoreABS
[submodule "Abstractions/TheBallCoreToOperationTRANS"]
	path = Abstractions/TheBallCoreToOperationTRANS
	url = git://github.com/abstractiondev/TheBallCoreToOperationTRANS
[submodule "Apps/workerroleaccelerator"]
	path = Apps/workerroleaccelerator
	url = git://github.com/kallex/workerroleaccelerator.git
[submodule "Apps/wa-accelerator-webroles"]
	path = Apps/wa-accelerator-webroles
	url = git://github.com/kallex/wa-accelerator-webroles.git
[submodule "Abstractions/DocumentationABS"]
	path = Abstractions/DocumentationABS
	url = git://github.com/abstractiondev/DocumentationABS
[submodule "Abstractions/OperationToDocumentationTRANS"]
	path = Abstractions/OperationToDocumentationTRANS
	url = git://github.com/abstractiondev/OperationToDocumentationTRANS
[submodule "Abstractions/StatusTrackingABS"]
	path = Abstractions/StatusTrackingABS
	url = git://github.com/abstractiondev/StatusTrackingABS
[submodule "Abstractions/OperationToStatusTrackingTRANS"]
	path = Abstractions/OperationToStatusTrackingTRANS
	url = git://github.com/abstractiondev/OperationToStatusTrackingTRANS
[submodule "Abstractions/StatusTrackingToDocumentationTRANS"]
	path = Abstractions/StatusTrackingToDocumentationTRANS
	url = git://github.com/abstractiondev/StatusTrackingToDocumentationTRANS
