[submodule "Abstractions/abscommon"]
	path = Abstractions/abscommon
	url = git://github.com/abstractiondev/abscommon
[submodule "Abstractions/absconfig"]
	path = Abstractions/absconfig
	url = git://github.com/abstractiondev/absconfig
[submodule "Abstractions/absbuilder"]
	path = Abstractions/absbuilder
	url = git://github.com/abstractiondev/absbuilder
[submodule "Abstractions/UserInterfaceABS"]
	path = Abstractions/UserInterfaceABS
	url = git://github.com/abstractiondev/UserInterfaceABS
[submodule "Abstractions/ServiceLayerABS"]
	path = Abstractions/ServiceLayerABS
	url = git://github.com/abstractiondev/ServiceLayerABS
[submodule "Abstractions/ClassModelABS"]
	path = Abstractions/ClassModelABS
	url = git://github.com/abstractiondev/ClassModelABS
[submodule "Abstractions/UserInterfaceToClassModelTRANS"]
	path = Abstractions/UserInterfaceToClassModelTRANS
	url = git://github.com/abstractiondev/UserInterfaceToClassModelTRANS
[submodule "Abstractions/UserInterfaceToOperationTRANS"]
	path = Abstractions/UserInterfaceToOperationTRANS
	url = git://github.com/abstractiondev/UserInterfaceToOperationTRANS
[submodule "Abstractions/OperationABS"]
	path = Abstractions/OperationABS
	url = git://github.com/abstractiondev/OperationABS
