/* Custom template version */
.full-screen {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    top: 0;
    left: 0;
}

.full-screen-content {
    height: 100%;
    border-radius: 0;
}

.modal-body {
    max-height: 80%;
}
