<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="AdminGroupID" value=""/>
  <add key="EmailFromAddress" value="no-reply-betaoip@aaltoglobalimpact.org"/>
  <add key="EmailValidationURLWithoutID" value="https://betaoip.aaltoglobalimpact.org/emailvalidation/"/>
  <add key="DefaultAccountTemplateList" value="webui"/>
  <add key="AccountDefaultRedirect" value="webui/html/account.html"/>
  <add key="DefaultGroupTemplateList" value="groupmanagement,categoriesandcontent"/>
  <add key="GroupDefaultRedirect" value="categoriesandcontent/html/group.html"/>
  <add key="WorkerActiveContainerName" value="betaoip-aaltoglobalimpact-org" />
  <add key="RedirectFromFolderFileName" value="RedirectFromFolder.red"/>
  <add key="EmailDeviceJoinSubjectFormat" value="Approve device connection to owner: {0}"/>
  <add key="EmailDeviceJoinMessageFormat" value="Your confirmation is required to trust the following device '{0}' to be joined to trust within {1} ID {2}. 

Click the following link to confirm this action:
{3}"/>
  <add key="EmailValidationSubjectFormat" value="Welcome to Beta of Open Innovation Platform!"/>
  <add key="EmailValidationMessageFormat" value="Welcome to Beta of Open Innovation Platform!

Your email address '{0}' has been registered on the Open Innovation Platform Beta!. Before you start your collaboration we simply need to confirm that you did register your email. Please follow the link below during which you might be redirected to perform the authentication.

Use the following link to complete your registration (the link is valid for 30 minutes after which you need to resend the validation):
{1}

Wishing you all the best from Aalto Global Impact OIP team!"/>
  <add key="EmailInputJoinSubjectFormat" value="Approve input joining to owner: {0}"/>
  <add key="EmailInputJoinMessageFormat" value="Your confirmation is required to allow the following information source '{0}' to be fetched within {1} ID {2}. 

Click the following link to confirm this action:
{3}"/>
  <add key="EmailOutputJoinSubjectFormat" value="Approve information output from owner: {0}"/>
  <add key="EmailOutputJoinMessageFormat" value="Your confirmation is required to allow the following information output '{0}' to be pushed within {1} ID {2}. 

Click the following link to confirm this action:
{3}"/>
  <add key="EmailGroupJoinSubjectFormat" value="Invitation to join collaboration group: {0}"/>
  <add key="EmailGroupJoinMessageFormat" value="You have been invited to join in the Open Innovation Platform Beta! to collaborate in the group: {0}. 

Use the following link to accept the invitation and join the group:
{1}

The link is valid for 14 days, after which you need to request new invitation."/>


</appSettings>
<!--
Escape chars
"   &quot;
'   &apos;
<   &lt;
>   &gt;
&   &amp;

-->
