<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="AdminGroupID" value="dae840ed-fdef-405b-b44b-5620b46c4f0b"/>
  <add key="EmailFromAddress" value="no-reply-business@theball.me"/>
  <add key="EmailValidationURLWithoutID" value="https://business.theball.me/emailvalidation/"/>
  <add key="DefaultAccountTemplateList" value="webui,cpanel"/>
  <add key="AccountDefaultRedirect" value="cpanel/html/account.html"/>
  <add key="DefaultGroupTemplateList" value="categoriesandcontent,cpanel"/>
  <add key="GroupDefaultRedirect" value="cpanel/html/cpanel.html"/>
  <add key="WorkerActiveContainerName" value="business-caloom-com" />
  <add key="ContainerRedirects" value="business-theball-me:business-caloom-com"/>
  <add key="RedirectFromFolderFileName" value="RedirectFromFolder.red"/>
  <add key="EmailDeviceJoinSubjectFormat" value="Approve device connection to owner: {0}"/>
  <add key="EmailDeviceJoinMessageFormat" value="Your confirmation is required to trust the following device '{0}' to be joined to trust within {1} ID {2}. 

Click the following link to confirm this action:
{3}"/>
  <add key="EmailValidationSubjectFormat" value="Welcome to The Ball for Business!"/>
  <add key="EmailValidationMessageFormat" value="Welcome to The Ball for Business!

Your email address '{0}' has been registered on the Caloom for Business. Before you start your collaboration we simply need to confirm that you did register your email. Please follow the link below during which you might be redirected to perform the authentication.

Use the following link to complete your registration (the link is valid for 30 minutes after which you need to resend the validation):
{1}

Wishing you all the best from The Ball team!"/>

  <add key="EmailAccountMergeValidationSubjectFormat" value="Account MERGE on The Ball for Business!"/>
  <add key="EmailAccountMergeValidationMessageFormat" value="Account MERGE on The Ball for Business!

Your email address '{0}' is been requested for ACCOUNT MERGE! Please follow the link below ONLY IF YOU intend to do account merge!

Use the following link to complete the account merge (the link is valid for 5 minutes after which you need to re-request the merge):
{1}

Wishing you all the best from The Ball team!"/>


  <add key="EmailInputJoinSubjectFormat" value="Approve input joining to owner: {0}"/>
  <add key="EmailInputJoinMessageFormat" value="Your confirmation is required to allow the following information source '{0}' to be fetched within {1} ID {2}. 

Click the following link to confirm this action:
{3}"/>
  <add key="EmailOutputJoinSubjectFormat" value="Approve information output from owner: {0}"/>
  <add key="EmailOutputJoinMessageFormat" value="Your confirmation is required to allow the following information output '{0}' to be pushed within {1} ID {2}. 

Click the following link to confirm this action:
{3}"/>
  <add key="EmailGroupJoinSubjectFormat" value="Invitation to join collaboration group: {0}"/>
  <add key="EmailGroupJoinMessageFormat" value="You have been invited to join in the The Ball for Business to collaborate in the group: {0}. 

Use the following link to accept the invitation and join the group:
{1}

The link is valid for 14 days, after which you need to request new invitation."/>


</appSettings>
<!--
Escape chars
"   &quot;
'   &apos;
<   &lt;
>   &gt;
&   &amp;

-->
